<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        colors="true"
        cacheDirectory=".phpunit.cache"
        bootstrap="tests/bootstrap.php"
        displayDetailsOnTestsThatTriggerWarnings="true"
        failOnNotice="true"
        failOnDeprecation="true"
        failOnEmptyTestSuite="true"
        failOnWarning="true"
        failOnIncomplete="true"
>
    <testsuites>
        <testsuite name="integrations">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="units">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
